@using Microsoft.AspNetCore.Http;
@using V2.Models.Master;
@using System.Linq;
@using V2.Models.Account;
@model V2.Models.Catalogue.CatalogueHeader
@{
    ViewData["Title"] = "Detail";
    var catalogueLine = Model.CatalogueLines.Where(c => c.CatalogueLinesId == ViewBag.LineId).FirstOrDefault();
    var sizeList = (List<Size>)ViewBag.SizeList;
    //var vendor = (User)ViewBag.VendorDetails;
}

<style>
    .backBtn {
        width: 60px;
        height: 30px;
        background: rgba(116, 147, 168, 0.12);
        border-radius: 5px;
        font-size: 12px;
        letter-spacing: 0px;
        color: #7493a8;
        border: 1px solid rgba(116, 147, 168, 0.12);
        opacity: 1;
    }

    .card-body {
        width: calc(100vw - 322px);
        padding: 1.25rem !important;
    }

    .badge {
        font-size: 12px !important;
        line-height: 24px;
    }

    body {
        overflow: hidden;
    }

    .left-sidenav-menu li.mm-active > a {
        color: #fff;
        background: unset;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 4px;
    }

        .left-sidenav-menu li.mm-active > a > span {
            color: #de4132;
            font-weight: 600 !important;
        }

        .left-sidenav-menu li.mm-active > a > img:nth-child(1) {
            display: none !important;
        }

        .left-sidenav-menu li.mm-active > a > img:nth-child(2) {
            display: block !important;
        }

    .left-sidenav-menu li > a > img:nth-child(1) {
        display: block;
    }

    .left-sidenav-menu li > a > img:nth-child(2) {
        display: none;
    }

    .vendor-detail-header {
        background: url(./../assets/images/vendor-background.png);
        height: 115px;
        background-size: 100% 100%;
    }

    .vendor-details-wrapper {
        width: 20%;
        display: flex;
        justify-content: space-between;
    }

    .vendor-name h3 {
        color: #ffffff;
    }

    .vendor-details p {
        font-size: 10px;
        margin-bottom: 0%;
        color: #ffffff;
    }

    .vendor-details h5 {
        margin-top: 0.5rem;
        font-size: 12px;
        color: #ffffff;
    }

    .details h5 {
        margin: 0%;
        font-size: 12px;
        color: #7493a8;
        font-weight: 600;
    }

    .details p {
        font-size: 13px;
        font-weight: bold;
        color: #383d5a;
        margin-bottom: 0.4rem;
    }

    .vendor-product-small-images {
        overflow: hidden;
    }

    .product-image-wrapper {
        position: relative;
        /* overflow: hidden; */
        width: 100%;
        margin: auto;
        margin-top: 8px;
    }

    .productImages {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        transition: transform 0.5s linear;
    }

    .product-images {
        width: 92px;
        height: 80px;
        border-radius: 10px;
        cursor: pointer;
        object-fit: cover;
        margin-right: 6px;
    }

    .page-title-box {
        padding: 15px 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .previous-wrapper {
        position: absolute;
        left: 3px;
        top: 37px;
        cursor: pointer;
        z-index: 100000;
    }

    .next-wrapper {
        position: absolute;
        right: -7px;
        top: 37px;
        cursor: pointer;
        z-index: 100000;
    }

    .line {
        width: 1px;
        height: 35px;
        opacity: 0.5;
        z-index: 100000000;
        background: #d9655a;
        margin-top: 4px;
    }

    .product-image-main img {
        height: 215px;
        object-fit: cover;
        border-radius: 10px;
    }

    .remarks-wrapper p {
        margin-bottom: 0%;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #7493a8;
        opacity: 1;
    }

    .remarks {
        border: 2px solid #f0f6f8;
        border-radius: 8px;
        opacity: 1;
        height: 58px;
    }

    .remark-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.3rem;
    }

    .approve {
        background: #2dc301 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #ffffff;
        width: 120px;
    }

        .approve:hover {
            color: #ffffff;
        }

    .decline {
        background: #df4134 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #ffffff;
        width: 120px;
    }

    .decline {
        color: #ffffff;
    }

    .vendor-detail-wrapper {
        border-bottom: 2px solid #f0f6f8;
    }

    @@media screen and (min-width: 1200px) {
        .card-body {
            width: calc(100vw - 322px);
        }
    }

   



</style>

<input type="hidden" id="hidApprovalId" value="@ViewBag.ApprovalId" />
<input type="hidden" id="hidVendorId" value="@ViewBag.VendorId" />

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right"></div>
                <a asp-action="Catalogues" asp-controller="CatalogueApproval" asp-route-id="@ViewBag.VendorId">
                    <button class="backBtn">
                        <img src="~/assets/images/backBtn.svg" alt="" />
                        Back
                    </button>
                </a>
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12 tableCard">
            <div class="card">
                <div class="card-body">
                    <div class="vendor-detail-header">
                        <div class="row justify-content-end">
                            <div class="col-md-10">
                                @*vendor details from viebag*@
                                <div class="vendor-name">
                                    <h3>STORE DETAILS</h3>
                                </div>
                                <div class="vendor-details-wrapper">
                                    <div class="vendor-details">
                                        <p>PPT No.</p>
                                        <h5>#@Model.CatalogueHeaderId</h5>
                                    </div>

                                    <div class="line"></div>

                                    <div class="vendor-details">
                                        <p>City</p>
                                        <h5>Delhi, IN</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vendor-product-detail-wrapper">
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                @{
                                    var catalogueImages = catalogueLine.CatalogueLineImages;
                                    <div class="product-image-main">
                                        <img src="@(ViewBag.ImageDomain + catalogueImages[0].ProductImage.Replace("\\", "/"))"
                                             alt=""
                                             width="100%"
                                             id="mainImage" />
                                    </div>
                                    <div class="vendor-product-small-images">
                                        <div class="product-image-wrapper">
                                            <div class="previous-wrapper" onclick="previous()">
                                                <img src="~/assets/images/previous.svg"
                                                     alt=""
                                                     width="60%" />
                                            </div>

                                            <div class="next-wrapper" onclick="next()">
                                                <img src="~/assets/images/next.svg"
                                                     alt=""
                                                     width="60%" />
                                            </div>
                                            <div class="productImages">
                                                @foreach (var img in catalogueImages)
                                                {
                                                    <img src="@(ViewBag.ImageDomain + img.ProductImage.Replace("\\", "/"))"
                                                         alt=""
                                                         class="product-images"
                                                         width="100%"
                                                         id="secondaryImage" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="col-lg-8">
                                <div class="vendor-detail-wrapper">
                                    <div class="row">
                                        <div class="col-md-3 details">
                                            <h5>Division</h5>
                                            <p>@catalogueLine.Division.DivisionName</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>Sub-Division</h5>
                                            <p>@catalogueLine.SubDivision.SubDivisionName</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>Major Category</h5>
                                            <p>@catalogueLine.MajorCategory.MajorCategoryName</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>Size</h5>
                                            @foreach (var sizeId in catalogueLine.Size.Split(",").ToList())
                                            {
                                                var sizeName = sizeList.Where(c => c.SizeId == sizeId).FirstOrDefault().SizeName;
                                                <span class="badge badge-info">@sizeName</span>
                                            }
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-3 details">
                                            <h5>Color</h5>
                                            @foreach (var color in catalogueLine.Color.Split(",").ToList())
                                            {
                                                <span class="dot" style="background-color:@color"></span>
                                            }
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>No. of Piece</h5>
                                            <p>@catalogueLine.NoOfPiece</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>No. of Size</h5>
                                            <p>@catalogueLine.NoOfSize</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>No. of Color</h5>
                                            <p>@catalogueLine.NoOfColor</p>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-3 details">
                                            <h5>No. of Print </h5>
                                            <p>@catalogueLine.NoOfPrint</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>VND-DZN-No.</h5>
                                            <p>@catalogueLine.VendorDesignNo</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>Yarn</h5>
                                            <p>@catalogueLine.Yarn</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>Weave-1</h5>
                                            <p>@catalogueLine.Weave1</p>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-3 details">
                                            <h5>VND-ALV-QTY</h5>
                                            <p>@catalogueLine.AvailableQty</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>Price/Piece</h5>
                                            <p>@catalogueLine.PricePerPiece</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>Net Rate</h5>
                                            <p>@catalogueLine.NetRate</p>
                                        </div>

                                        <div class="col-md-3 details">
                                            <h5>Approval Status</h5>
                                            <p>
                                                <span class="badge badge-md badge-soft-@(catalogueLine.Status.StatusId == 4 ? "danger" : catalogueLine.Status.StatusId == 3 ? "success" : catalogueLine.Status.StatusId == 2 ? "pink" : "secondary")">@catalogueLine.Status.StatusName</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-2 justify-content-between">
                                    <div class="col-md-7 remarks-wrapper">
                                        <p>Remarks</p>
                                        <textarea name="remarks"
                                                  id="remarks"
                                                  cols="65"
                                                  class="remarks"></textarea>
                                    </div>
                                    <div class="col-md-4 remark-button-wrapper">
                                        <button class="btn approve" data-val="3" onclick="UpdateStatus(this)">Approve</button>
                                        <button class="btn decline" data-val="4" onclick="UpdateStatus(this)">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>

@section Scripts{
    <script type="text/javascript">
        let index = 1;
        function previous() {
            let imageWrapper = document.querySelector(".productImages");
            let transformValue =
                document.querySelector(".productImages").style.transform;
            transformValue = transformValue.split("(")[1].split("px")[0];
            transformValue = Number(transformValue);
            if (transformValue < 0) {
                transformValue = transformValue + 98;
                imageWrapper.style.transform = `translateX(${transformValue}px)`;
                console.log(transformValue);
                index--;
            }
        }

        function next() {
            let next = 98 * index;
            let imageWrapper = document.querySelector(".productImages");
            let imagelength = imageWrapper.querySelectorAll("img").length;
            console.log(imagelength);
            imageWrapper.style.transform = `translateX(-${next}px)`;
            if (index >= imagelength - 3) {
                index = imagelength - 3;
            } else {
                index++;
            }
        }
    </script>
    <script>
        function UpdateStatus(btn) {
            if (confirm("Are you sure want to " + ($(btn).attr("data-val") == "3" ? "Approve" : "Reject") + " ?")) {

                var _appId = $("#hidApprovalId").val();
                var _remarks = $("#remarks").val();
                var _statusId = $(btn).attr("data-val");

                var frmData = new FormData();
                frmData.append("apId", _appId);
                frmData.append("stid", _statusId);
                frmData.append("rem", _remarks);

                $.ajax({
                    url: "@Url.Action("UpdateStatus", "CatalogueApproval")",
                    type: "POST",
                    data: frmData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.success) {
                            window.location.href = "/CatalogueApproval/Catalogues?id=" + $("#hidVendorId").val();
                        } else {
                            toastr.error(res.msg);
                        }
                    },
                    error: function (err) {
                        toastr.error(err);
                    }
                });
            } else {
                return false;
            }


        }

    </script>
}